doctype
html
    head
        title= "Kenziegram"
        link(rel='stylesheet' href='home.css')
    body
        h1= "Welcome to Kenziegram"
        p= "File successfully uploaded!"
        a(href="/"): p= "Go back"
        img(src= image)