doctype
html
    head
        title= "Kenziegram"
        link(rel='stylesheet' href='style.css')
    body
        h1= "Welcome to Kenziegram"
        p= "File successfully uploaded!"
        a(href="http://localhost:3000/"): p= "Go back"
        img(src= image)